[Unit]
Description="cyberdog wifi service"

[Service]
User=root
Type=idle
Environment="ROS_DOMAIN_ID=42"
Environment="ROS_VERSION=2"
Environment="ROS_PYTHON_VERSION=3"
Environment="ROS_DISTRO=galactic"
Environment="LD_LIBRARY_PATH=/opt/ros2/galactic/lib:/opt/ros2/cyberdog/lib"
Environment="PYTHONPATH=/opt/ros2/galactic/lib/python3.6/site-packages:/opt/ros2/cyberdog/lib/python3.6/site-packages"
Environment="AMENT_PREFIX_PATH=/opt/ros2/galactic:/opt/ros2/cyberdog"
Environment="RMW_IMPLEMENTATION=rmw_cyclonedds_cpp"
Environment="ROS_LOCALHOST_ONLY=1"


ExecStart=/opt/ros2/galactic/bin/ros2 run wifi wifi
Restart=on-failure

[Install]
WantedBy=multi-user.target
